/** General style rules **/

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/space-background1.webp);
}

body {
    font-family: 'Exo 2', sans-serif;
}

/** Nav bar and logo styling **/

#nav-bar {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 200%;
    background-color: black;
    color: aliceblue;
    text-transform: uppercase;
}

.nav-items {
    padding: 30px;
    text-decoration: none;
    color: aliceblue;
}

.nav-items:hover {
    text-decoration: underline;
    color: aliceblue;
}

#logo-container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 3%;
    align-items: center;
}

#home-icon {
    padding-right: 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 180%;
}

#logo {
    background-image: url(../images/earth-icon2.webp);
    width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
}

/** Main body and options styling **/

#start-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

#start-menu-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.7);
    width: 60%;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#start-menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-menu-container>h2 {
    font-size: 300%;
    padding-bottom: 40px;
    text-transform: uppercase;
}

#start-menu-container>p {
    font-size: 200%;
    padding-bottom: 40px;
    text-align: center;
}

.start-buttons {
    height: 60px;
    width: 250%;
    margin: 10px;
    font-size: 150%;
    font-family: 'Exo 2', sans-serif;
    border-radius: 50px;
}

/** Footer syling **/

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 300%;
    height: auto;
    margin-top: 100px;
}

#footer-container>a {
    padding: 60px;
    color: aliceblue;
}

/** Media query for screens smaller than 950px */

@media screen and (max-width: 950px) {

    #nav-bar {
        flex-direction: column;
    }

    #right-nav-items {
        display: flex;
        flex-direction: column;
    }

    #start-menu-container {
        width: 80%;
    }

    #start-menu-container>h2 {
        font-size: 250%;
        padding-bottom: 20px;
    }

    #start-menu-container>p {
        font-size: 150%;
        padding-bottom: 20px;
        text-align: center;
    }

    .start-buttons {
        height: 60px;
        width: 200%;
        font-size: 150%;
    }

    #footer-container>a {
        padding: 50px;
    }

}

/** Media query for screens smaller than 600px */

@media screen and (max-width: 600px) {

    .nav-items {
        padding: 20px;
    }

    #nav-bar {
        font-size: 150%;
    }

    #footer-container {
        font-size: 250%;
        margin-top: 50px;
    }

    #footer-container>a {
        padding: 30px;
    }