* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(../images/space-background1.webp);
}

#nav-bar {
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 200%;
}

.nav-items {
    padding: 30px;
    text-decoration: none;
}

#start-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-menu-container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#start-menu-items {
    display: flex;
    flex-direction: column;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 400%;
    height: 80px;
}

#footer-container>a {
    padding: 60px;
}